
html {
	position: relative;
	min-height: 100%;
}
body {
	padding-top: 5rem;
	margin-bottom: 60px; /* Margin bottom by footer height */
}
.form-control.autowidth {
    width: auto;
    display: inline;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; background:#fcfc51; border:1px solid #a3a302 }
footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 60px; /* Set the fixed height of the footer here */
	line-height: 60px; /* Vertically center the text there */
	background-color: #f5f5f5;
}
.container-login{
	max-width: 400px;
	padding: 20px;
}

/* Editor */
.editor .toolbar a {
    background: #ccc;
    padding: 10px;
    color: #000;
    margin: 0 2px 0 0;
}

.editor .toolbar {padding: 8px 0;}

.editor {
    border: 1px solid #ccc;
    margin: 20px 0;
}

.editor .content {
    padding: 20px;
}

/* filebrowser */
#filebrowser .entry {
    width: 122px;
    height: 140px;
    float: left;
    position: relative;
    margin: 0 20px 20px 0;
    border: 1px solid #aaa;
}
#filebrowser .entry .icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 120px;
    height: 120px;
    font-size: 90px;
    line-height: 120px;
    text-align: center;
		cursor: pointer;
}
#filebrowser .entry .title {
    position: absolute;
    bottom: 0;
		background: #fff;
		width: 100%;
		padding: 0 8px;
		line-height: 20px;
}
#filebrowser .entry .title > span{
	cursor: pointer;
	display: block;
	text-overflow: ellipsis;
	font-size: 10px;
	overflow: hidden;
}
ul.sites {
	list-style: none;
	padding: 0;
	font-size: 24px;
}
#filebrowser .entry .title .controls{
	display: none;
}
#filebrowser .entry .title .controls span{
	cursor: pointer;
}
#filebrowser .entry:hover .title .controls{
	display: block;
}
.cmd {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 100%;
		overflow: scroll;
}

.cmd .inner {
    background: #fff;
    padding: 20px;
}
.selected{
  font-style: italic;
  text-decoration: underline!important;
}
