.draggable, #content .icon {
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 60px;
  vertical-align: top;
  color:#fff;
  border:1px solid;
  display:inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  background: #6c757d!important;
 }
.itm{
  min-height: 105px;
  margin:20px 0;
  background: #ccc;
}
.ui-draggable-dragging{
  z-index:9999;
  opacity: 0.5;
}
.itm:hover .handle{
  display: block;
}
.itm .handle{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.itm .content .name {
    font-style: italic;
}
#content .icon {
    margin: 0;
}
#content{
  list-style: none;
}
#content li .content {
    padding: 6px 10px 10px 80px;
}
.itm .handle .delete {
    position: absolute;
    font-size: 18px;
    top: 80px;
    height: 25px;
    background: #6c757d;
    color: #fff;
    left: 0;
    width: 100%;
    text-align: center;
    border: 1px solid;
}
#placeholder{
  position: relative;
  z-index: 99999;
  margin: -1px 0;
  height: 2px;
  background: #00ff00;
}
