.draggable, #content .icon {
  width: 70px;
  height: 70px;
  font-size: 35px;
  line-height: 60px;
  vertical-align: top;
  color:#fff;
  border:1px solid;
  display:inline-block;
  margin: 0 5px 5px 0;
  text-align: center;
  background: #6c757d!important;
 }
.itm{
  min-height: 105px;
  margin:20px 0;
  background: #ccc;
}
.ui-draggable-dragging{
  z-index:9999;
  opacity: 0.5;
}
.itm:hover .handle{
  display: block;
}
.itm .handle{
  cursor: pointer;
  position: absolute;
  left: 0;
  top: 0;
}
.itm .content .name {
    font-style: italic;
}
.texteditor{
  background: #fff;
}
section {
    margin: 20px 0;
}
.section .dropper {
    margin: 0 0 10px 0;
    font-size: 20px;
}
.section .content{
  display:none;
}
ul#elements, ul#content {
  padding: 0;
}
.ui-state-highlight { height: 1.5em; line-height: 1.2em; }

#popupwin .inner {
  background: #fff;
  position: relative;
  height: auto;
  padding:0 20px;
}
#popupwin .itm {
  height: 150px;
  width: 124px;
  background: none;
  display: inline-block;
  margin: 0 5px 5px 0;
  font-size: 104px;
  position: relative;
  border: 2px solid #ccc;
}
#popupwin .itm.selected{
  border:2px solid #ff0000;
}
.formmanager ul.form {
    background: #fff;
    padding: 20px;
    border: 1px solid #aaa;
    list-style: none;
    margin: 0 0 20px 0;
}
.databuilder ul {
    list-style: none;
    padding: 0;
}
#popupwin .itm .name {
    line-height: 14px;
    font-size: 12px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
}

#popupwin .itm img,#popupwin .itm svg {
    position: absolute;
    top: 0;
    left: 0;
}

#popupwin .top {
    position: fixed;
    z-index: 999;
    background: #fff;
    width: 100%;
}
.filemanager ul.preview {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.filemanager ul.preview.images li {display: inline-block;margin: 0 5px 5px 0;position: relative;}
#content .icon {
    margin: 0;
}
#content{
  list-style: none;
}
#content li .content {
    padding: 6px 10px 10px 80px;
}
.itm .handle .delete {
    position: absolute;
    font-size: 18px;
    top: 80px;
    height: 25px;
    background: #6c757d;
    color: #fff;
    left: 0;
    width: 100%;
    text-align: center;
    border: 1px solid;
}
#placeholder{
  position: relative;
  z-index: 99999;
  margin: -1px 0;
  height: 2px;
  background: #00ff00;
}
.filemanager .preview.images .delete {
    position: absolute;
    right: 0;
    bottom: 0;
    background: #fff;
    font-size: 20px;
    padding: 5px;
}
